{% extends 'base.html' %}

{% block content %}

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">description</th>
      <th scope="col">price</th>
      <th scope="col">yangisi</th>
      <th scope="col">book_author</th>
      <th scope="col">image</th>
      <th scope="col">action</th>
    </tr>
  </thead>
    {% for book in books %}

  <tbody>
    <tr>
      <th scope="row">{{ book.pk }}</th>
      <td>{{ book.title }}</td>
      <td>{{ book.description }}</td>
      <td>{{ book.price }}</td>
      <td>{{ book.title_isbn }}</td>
      <td>{{ book.author.full_name }}</td>
      {% if book.image %}
      <td><img src="{{ book.image.url }}" alt="bu rasm" width="200px"></td>
      {% else%}
     <td><p>rasm yo'q </p></td>
      {% endif %}
      <td>  <a href="{% url 'book-detail' book.pk %}">detail</a></td>

    </tr>
    {% empty %}
    <h3>Siz izlagan malumot topilmadi </h3>
  {% endfor %}



  </tbody>
</table>

{% include "book/page.html" with page_obj=page_obj %}


{% endblock%}
